@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

/* font-family: "Azeret Mono", monospace; */

*{
    margin: 0;
    padding: 0;
}




/* Css of Navbar */
nav{
    display: flex;
    align-items: center;
    margin: 30px 150px;
    justify-content: space-between;
}

.nb-title{
     font-size: 28px;
     font-family: "Azeret Mono", monospace;
     font-weight: 700;
     color: #0D1321;
}

.nb-btn{
    padding: 17px 24px;
    background-color: white;
    border-color: #0D1321;
    border-radius: 8px;
    color: #0D1321;
    font-size: 20px;
    font-family: "Azeret Mono", monospace;
    font-weight: 600;
}




/* Css of Banner part */
.banner{
   text-align: center;
   background-image: url('../assets/Hero-bg.png');
}

.banner-img{
   width: 240px;
   height: 240px;
   margin-bottom: 32px;
}

.banner-title{
   width: 998px;
   font-size: 48px;
   font-family: "Azeret Mono", monospace;
   color: #0D1321;
   font-weight: 700;
   margin: 0 auto 32px;
}

.banner-description{
   width: 998px;
   font-size: 16px;
   font-family: "Azeret Mono", monospace;
   color: #0D1321;
   margin: 0 auto 32px;
}

.banner-btn{
   background-color: #0D1321;
   color: white;
   padding: 21px 24px;
   border-radius: 8px;
   border: none;
   font-size: 20px;
   font-weight: 600;
   font-family: "Azeret Mono", monospace;
   margin-bottom: 32px;
}




/* Css of Why Web Development part */
.development{
   background-color: rgba(13, 19, 33, 0.02);
   width: 1140px;
   margin: 74px auto 0;
   padding: 0 0 30px 0;
}

.dev-container{
   width: 946px;
   margin: auto;
}

.dev-description{
   width: 852px;
   padding: 80px 47px 48px;
   text-align: center;
}

.devp{
   font-size: 16;
   font-family: "Azeret Mono", monospace;
   color: #0D1321;
}

.devh2{
  margin-bottom: 24px;
  font-size: 32px;
  font-weight: 700;
  font-family: "Azeret Mono", monospace;
  color: #0D1321;
}

.sub-dev{
   width: 946px;
   height: 336px;
   background-color: white;
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 48px 48px 20px 48px;
   margin-bottom: 32px;

}

.sub-dev1{
    width: 477px;
    height: 219px;
    text-align: left;
}

.sub-devh3{
    width: 340px;
    font-size: 24;
    font-weight: bold;
    font-family: "Azeret Mono", monospace;
    color: rgba(13, 19, 33, 0.7);
    margin-bottom: 16px;
}

.sub-devp{
    font-size: 16px;
    font-family: "Azeret Mono", monospace;
    color: rgba(13, 19, 33, 0.7);
    margin-bottom: 32px;
}

.sub-devbtn{
   font-size: 20px;
   font-family: "Azeret Mono", monospace;
   font-weight: 600;
   color: rgba(13, 19, 33, 0.7);
   background-color: white;
   border-color: rgba(13, 19, 33, 0.7);
   padding: 12px 20px;
}

.sub-dev2{
    width: 274px;
    height: 240px;
}

.sub-dev3{
    width: 240px;
    height: 240px;
}

.sub-dev4{
    width: 477px;
    height: 219px;
}

.sub-dev5{
    width: 477px;
    height: 219px;
}

.sub-dev6{
    width: 240px;
    height: 240px;
}

.last-dev{
    padding-bottom: 30px;
}




/* Css of MY Inspiration part */
.inspiration{
    width: 1140px;
    background-color: rgba(13, 19, 33, 0.02);
    margin:  90px auto 0;
    text-align: center;

}

.instext-container{
    width: 852px;
    text-align: center;
    margin: 0 auto 40px;
}

.rounded {
    border-radius: 1.5rem !important;
}

.video-wrapper {
    overflow: hidden;
    float: left;
    position: relative;
}
iframe {
    float: left;
}

.vidspace{
    width: 1140px;
    height: 550px;
    
}








